Package: com.samgisaninja.snell
Name: snell
Depends: mobilesubstrate, com.creaturesurvive.libcscolorpicker, ws.hbang.common (>= 1.14), preferenceloader
Architecture: iphoneos-arm
Description: Alert customization to the max
Maintainer: Samg_is_a_Ninja
Author: Samg_is_a_Ninja
Section: Tweaks
Version: 1.1.1-7+debug
Installed-Size: 480
