<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable/Disable remembering actions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.samgisaninja.snellprefs</string>
			<key>key</key>
			<string>enableBrain</string>
			<key>label</key>
			<string>Enable action memory</string>
			<key>PostNotification</key>
			<string>com.samgisaninja.snellprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
            <key>label</key>
			<string>Memory Management</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.samgisaninja.snellprefs</string>
			<key>detail</key>
			<string>SNLMemoryListController</string>
			<key>label</key>
			<string>Remembered Actions...</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.samgisaninja.snellprefs</string>
			<key>detail</key>
			<string>SNLIgnoranceListController</string>
			<key>label</key>
			<string>Actions to ignore...</string>
			<key>isController</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>Snell</string>
</dict>
</plist>
